{{#> base main-partial-block=true title=app.title}}

    <div class="layout-3-9">
        <aside>
            sidebar
        </aside>
        <section>
            <h1>HOME</h1>
        </section>
    </div>
{{/base}}