{{#> base main-partial-block=true title=app.title}}
{{!> jumbotron}}
<div class="row">
    <aside class="col-3">
        sidebar
    </aside>
    <section class="col-9">
        home
    </section>
</div>
{{/base}}
