{{#> base main-partial-block=true title=app.title}}
{{!> jumbotron}}
<!--<div class="row">-->
<style scoped>
    .grid-12>*,
    .tile>* {
        border: 1px solid #ddd;
    }
</style>

<aside class="sidebar">
    sidebar
</aside>

<section class="content">
    content
</section>

<section class="grid-12" style="grid-gap: 0;">
    {{#each debugGrid}}
    <div>{{this}}</div>
    {{/each}}
</section>

<section class="grid-12 shrink" style="grid-gap: 0;">
    {{#each debugGrid}}
    <div>{{this}}</div>
    {{/each}}
</section>

<section class="tile span-12">
    {{#each debugGrid}}
    <div>{{this}}</div>
    {{/each}}
</section>

<!--</div>-->
{{/base}}