{{#> base main-partial-block=true title=app.title}}
{{!> jumbotron}}
    <!--<div class="row">-->
    <aside class="span-3">
        sidebar
    </aside>

    <section class="span-9">
        <aside class="span-3">
            sidebar
        </aside>
        home
    </section>
    <!--</div>-->
{{/base}}
