.app-footer {
    > .app-container {
        min-height:     $footer_height;
        padding-top:    $layout_gap;
        padding-bottom: $layout_gap;

        /*@include setPropsAdaptive((
                padding-top: $layout_gap,
                padding-bottom: $layout_gap,
        ));*/
    }

    .head {
        @extend .jx-col-3;
        order: 1;
    }

    .body {
        @extend .jx-grid-6;
        order: 2;

        > .about,
        > .contacts,
        > .social {
            @extend .jx-col-2;
        }

        .social {
            .nav {
                flex-direction: row;
                flex-wrap:      wrap;

                > :not(:last-child) {
                    margin-right: 10px;
                }
            }
        }
    }

    .foot {
        @extend .jx-col-3;
        @extend .jx-grid;
        order:       3;
        align-items: start;
    }

    .title {
    }

    .nav {
        display:        flex;
        flex-direction: column;

        > * {
            white-space: nowrap;
        }
    }

    @media only screen {
        @media (max-width: 1200px) {
            > .app-container {
                padding-top:    $layout_rate * $layout_gap;
                padding-bottom: $layout_rate * $layout_gap;
            }
        }

        @media (max-width: 1000px) {
            .head {
                //grid-column-end: span 6 !important;
                order: 3;
            }

            .body {
                //grid-column-end: span 9 !important;
                order: 1;
            }

            .foot {
                order: 2;
            }
        }

        @media (max-width: 800px) {
            .head {
                //grid-column-end: span 8 !important;
                order:       2;
            }

            .body {
                //grid-column-end: span 12 !important;
            }

            .foot {
                //grid-column-end: span 4 !important;
                order:       3;
            }
        }

        @media (max-width: 600px) {
            .head,
            .foot {
                //grid-column-end: span 6 !important;
            }

            .body {
                //grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
            }
        }

        @media (max-width: 400px) {
            .head,
            .body,
            .foot {
                //grid-column-end: span 12 !important;
            }

            .head {
                order: 3;
            }

            .body {
                order: 1;
            }

            .foot {
                order: 2;
            }
        }
    }
}
