.app-header {
    position: sticky;
    top:      0;

    &,
    > .app-container {
        align-items: center;
        min-height:  $header_height;
    }

    .head {
        @extend .col-3;
    }

    .body {
        @extend .grid-6;
    }

    .foot {
        @extend .col-3;
        @extend .grid;
        justify-items: end;
    }

    .title {
        white-space: nowrap;
    }
}
