.app-main {
    min-height: $main_height;
    height:     1fr;

    > .app-container {
        align-content:  start;
        height:         100%;

        padding-top:    20px;
        padding-bottom: 120px;

        > .sidebar {
            @extend .col-3;
        }

        > .content {
            @extend .grid-9;
        }
    }
}