.app-main {
    min-height: $main_height;
    height:     1fr;

    > .app-container {
        align-content: start;
        height:        100%;

        @include setPropsAdaptive((
                padding-top: $grid_gap,
                padding-bottom: toRem(120px),
        ));

        > .sidebar {
            @extend .col-3;
        }

        > .content {
            @extend .grid-9;
        }
    }
}