// Reset
*, :before, :after, ::before, ::after {
    box-sizing: border-box;
    outline: 0 none;
}

html {
    font-size: 1em;
    line-height: 1;
    height: 100vh;
}

body {
    font-size: 1rem;
    line-height: 2rem;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

// Application
#app {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    grid-gap: 0;
    min-height: 100vh;
}

.app-container {
    @extend .column;
    //display: grid;
    //grid-template-columns: repeat($layout-column, minmax(0, 1fr));
    //grid-auto-columns: auto;
    //grid-auto-rows: auto;
    //grid-gap: 40px;
    width: 100%;
    max-width: $layout-width-gap;
    margin-right: auto;
    margin-left: auto;
    padding-right: $layout-gap;
    padding-left: $layout-gap;

    @media only screen {
        @media (max-width: $layout-width-gap) {
            //grid-gap: 3.2vw;
            margin-right: 0;
            margin-left: 0;
            padding-right: $layout-gap-adaptive;
            padding-left: $layout-gap-adaptive;
        }
    }
}

@mixin a() {
    &,
    &:focus,
    &:active,
    &:hover {
        color: var(--color-primary-font);
    }
}

.app-header,
.app-footer {
    background-color: var(--color-primary);
    color: var(--color-primary-font);

    a {
        @include a();

        //@extend .text-decoration-none;
        text-decoration: none;
    }

    .title {
        white-space: nowrap;
        margin-top: 0;
        margin-bottom: 0;
    }
}

@import "header";
@import "footer";
@import "main";


// Breakpoint
@media only screen {
    @media (max-width: $layout-width-gap) {
        .app-footer {
            background-color: red;
        }
    }

    @media (max-width: 1100px) {
        .app-footer {
            background-color: green;
        }
    }

    @media (max-width: 1000px) {
        .app-footer {
            background-color: palevioletred;
        }
    }
}
