.app-footer {
    > .app-container {
        min-height: $footer-height;
        padding-top: $layout-gap;
        padding-bottom: $layout-gap;
    }

    .head {
        @extend .span-3;
        order: 1;
    }

    .body {
        @extend .grid-6;
        order: 2;

        > .about,
        > .contacts,
        > .social {
            @extend .span-2;
        }

        .social {
            .nav {
                flex-direction: row;
                flex-wrap: wrap;

                > :not(:last-child) {
                    margin-right: 10px;
                }
            }
        }
    }

    .foot {
        @extend .span-3;
        @extend .grid;
        order: 3;
        align-items: start;
    }

    .title {
        white-space: nowrap;
    }

    .nav {
        display: flex;
        flex-direction: column;

        > * {
            white-space: nowrap;
        }
    }

    @media only screen {
        @media (max-width: $layout-width-gap) {
            > .app-container {
                padding-top: $layout-gap-adaptive;
                padding-bottom: $layout-gap-adaptive;
            }

            .body {
                @extend %grid-gap-adaptive;
            }
        }

        @media (max-width: 1000px) {
            .head {
                grid-column: span 6;
                order: 3;
            }

            .body {
                grid-column: span 9;
                order: 1;
            }

            .foot {
                order: 2;
            }
        }

        @media (max-width: 800px) {
            .head {
                grid-column: span 8;
                order: 2;
            }

            .body {
                grid-column: span 12;
            }

            .foot {
                grid-column: span 4;
                order: 3;
            }
        }

        @media (max-width: 600px) {
            .head, .foot {
                grid-column: span 6;
            }

            .body {
                grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
            }
        }

        @media (max-width: 400px) {
            .head, .body, .foot {
                grid-column: span 12;
            }

            .head {
                order: 3;
            }

            .body {
                order: 1;
            }

            .foot {
                order: 2;
            }
        }
    }
}