.app-main {
    min-height: $main-height;
    height: 1fr;

    > .app-container {
        //@extend .shrink;
        align-content: start;
        height: 100%;

        padding-top: 20px;
        padding-bottom: 120px;

        > .sidebar {
            //grid-column: span 3;
        }

        > .content {
            //grid-column: span 9;
        }
    }
}
