.app-main {

    min-height: $main-height;
    height: 1fr;

    > .app-container {
        align-content: start;
        height: 100%;

        > .sidebar {
            //grid-column: span 3;
        }

        > .content {
            //grid-column: span 9;
        }
    }
}
