<footer class="app-footer">
  <div class="app-container">
    <div class="head">
      <h1 class="title">
        <a href="/">Bookings</a>
      </h1>
      <small>Copyright, 2022</small>
    </div>
    <div class="body">
      <div class="about">
        <h4 class="title">About Us</h4>
        <nav class="nav">
          <a href="{{page.blog.url}}">Blog</a>
        </nav>
      </div>
      <div class="contacts">
        <h4 class="title">Contacts</h4>
        <nav class="nav">
          <a href="tel:+38(063)52-71-831">+38(063)52-71-831</a>
          <a href="mailto:bookings@gmail.com">bookings@gmail.com</a>
        </nav>
      </div>
      <div class="social">
        <h4 class="title">Social</h4>
        <nav class="nav">
          <a href="/#">Facebook</a>
          <a href="/#">Instagram</a>
          <a href="/#">Twitter</a>
        </nav>
      </div>
    </div>
    <div class="foot">
      <button class="btn">Add hotel</button>
    </div>
  </div>
</footer>