<footer class="app-footer">
    <div class="container">
        <div class="row py-5">
            <div class="col">
                <h1 class="title">Bookings</h1>
                <p>Copyright, 2022</p>
            </div>
            <div class="col-6">
                <div class="row row-cols-3">
                    <div class="col">
                        <h5>About Us</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a class="nav-link p-0" href="/#">Home</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a class="nav-link p-0" href="/#">About</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <h5>Contacts</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a class="nav-link p-0" href="tel:+38(063)52-71-831">+38(063)52-71-831</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a class="nav-link p-0" href="mailto:bookings@gmail.com">bookings@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <h5>Social</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a class="nav-link p-0" href="/#">Home</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a class="nav-link p-0" href="/#">About</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <button class="btn">Add hotel</button>
            </div>
        </div>
    </div>
</footer>