<footer class="app-footer">
    <div class="app-container">
        <div class="head">
            <h1 class="title">Bookings</h1>
            <small>Copyright, 2022</small>
        </div>

        <div class="body row">
            <div class="col">
                <h5>About Us</h5>
                <nav class="list">
                    <a href="/#">Home</a>
                    <a href="/#">About</a>
                </nav>
            </div>
            <div class="col">
                <h5>Contacts</h5>
                <nav class="list">
                    <a href="tel:+38(063)52-71-831">+38(063)52-71-831</a>
                    <a href="mailto:bookings@gmail.com">bookings@gmail.com</a>
                </nav>
            </div>
            <div class="col">
                <h5>Social</h5>
                <nav class="bar">
                    <a href="/#">Home</a>
                    <a href="/#">About</a>
                </nav>
            </div>
        </div>

        <div class="foot">
            <button class="btn btn-lg">Add hotel</button>
        </div>
    </div>
</footer>