<header class="app-header">
    <div class="app-container">
        <div class="head">
            <h1 class="title">
                <a href="/">Bookings</a>
            </h1>
        </div>
        <div class="body">
            {{#if header.navigation}}
                <nav class="nav row">
                    <div class="dropdown">
                        <button type="button" class="dropdown-toggle" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            Catalog
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/#">Action</a></li>
                            <li><a class="dropdown-item" href="/#">Another action</a></li>
                            <li><a class="dropdown-item" href="/#">Something else here</a></li>
                        </ul>
                    </div>
                    {{#with page}}
                        <a class="nav-link" href="{{map.url}}">Map</a>
                        <a class="nav-link" href="{{blog.url}}">Blog</a>
                    {{/with}}
                </nav>
            {{else}}
                {{#if header.search}}
                    {{> advanced-search}}
                {{/if}}
            {{/if}}
        </div>
        <div class="foot">
            <label>
                <select>
                    <option selected>Ру</option>
                    <option>Укр</option>
                    <option>En</option>
                    <option>Pl</option>
                </select>
            </label>
        </div>
    </div>
</header>
