<header class="app-header">
    <div class="app-container">
        <div class="head">
            <h1 class="title">
                <a href="/">Bookings</a>
            </h1>
        </div>
        <div class="body">
        </div>
        <div class="foot">
            <label>
                <select>
                    <option selected>Ру</option>
                    <option selected>Укр</option>
                    <option selected>En</option>
                    <option selected>Pl</option>
                </select>
            </label>
        </div>
    </div>
</header>
