// Reset
*,
:before,
:after,
::before,
::after {
    box-sizing: border-box;
    outline: 0 none;
}

html {
    font-size: 1em;
    line-height: 1;
    height: 100vh;
}

body {
    font-size: 1rem;
    line-height: 2rem;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

// Application
#app {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    grid-gap: 0;
    min-height: 100vh;
}

.app-container {
    @extend .layout;
    @extend .grid-12;
}

@mixin a() {
    &,
    &:focus,
    &:active,
    &:hover {
        color: var(--color-primary-font);
    }
}

.app-header,
.app-footer {
    background-color: var(--color-primary);
    color: var(--color-primary-font);

    a {
        @include a();

        //@extend .text-decoration-none;
        text-decoration: none;
    }

    .title {
        white-space: nowrap;
        margin-top: 0;
        margin-bottom: 0;
    }
}

@import "app/header";
@import "app/footer";
@import "app/main";

// Breakpoint
@media only screen {
    @media (max-width: ($layout-width - 1)) {
        .app-footer {
            background-color: red;
        }
    }

    @media (max-width: ($grid-width - 1)) {
        .app-footer {
            background-color: #ff6381;
        }
    }

    @media (max-width: 1099px) {
        .app-footer {
            background-color: green;
        }
    }

    @media (max-width: 999px) {
        .app-footer {
            background-color: palevioletred;
        }
    }
}
