#app {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    grid-gap: 0;
    min-height: 100vh;
    //z-index: var(--zindex-app);
}

.app-container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

@import '../../static/scss/mixins/bar';

// Header
.app-header {
    max-height: var(--app-header-height);
    background-color: var(--color-primary);
    color: var(--color-primary-font);
    //z-index: var(--zindex-header);

    &, > .app-container {
        height: var(--app-header-height);
    }

    > .app-container {
        @include bar;
    }

    .logo {
        height: 3.4em;
        //margin-right: 2rem;
        pointer-events: none;
    }

    .title {
        font-size: 2rem;
        font-weight: 500;
        margin: 0;
    }

    .dropdown-menu {
        min-width: auto;
    }

}

// Footer
.app-footer {
    //height: var(--app-footer-height);
    min-height: var(--app-footer-height);
    //background-color: var(--color-primary);
    //color: var(--color-primary-font);
    //z-index: var(--zindex-footer);

    .logo {
        height: 3.4em;
        margin-right: 2rem;
        pointer-events: none;
    }

    .title {
        font-size: 2rem;
        font-weight: 500;
        margin: 0;
    }
}

/*
@media (min-width: 1400px) {
    .app-container {
        max-width: 1320px;
    }
}

@media (min-width: 1200px) {
    .app-container {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
    .app-container {
        max-width: 960px;
    }
}

@media (min-width: 768px) {
    .app-container {
        max-width: 720px;
    }
}

@media (min-width: 576px) {
    .app-container {
        max-width: 540px;
    }
}*/