$border-radius: .35rem;

// Application
#app {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    grid-gap: 0;
    min-height: 100vh;
}

.app-container {
    @extend .container-xxl;
}

// Common mixin for header and footer
@mixin app-common() {
    background-color: var(--color-primary);
    color: var(--color-primary-font);

    a {
        @extend .text-decoration-none;

        &,
        &:focus,
        &:active,
        &:hover {
            color: var(--color-primary-font);
        }
    }

    .head {
        .logo {
            pointer-events: none;
        }

        .title {
            font-family: FuturaMedium, sans-serif;
            font-size: 2rem;
            font-weight: 500;
            margin: 0;
        }
    }
}

// Header
.app-header {
    @include app-common;
    max-height: var(--app-header-height);

    &,
    >.app-container,
    >.app-container>.row {
        height: var(--app-header-height);
    }

    .dropdown-toggle::after {
        vertical-align: .2em;
    }

    .btn,
    .nav-link,
    .foot .dropdown-item {
        font-size: 1.25rem;
        line-height: 1;

        padding: {
            top: .563rem;
            bottom: .563rem;
        }
    }

    .btn {
        color: var(--color-primary-font);
    }

    .btn,
    .nav-link {
        border-radius: $border-radius;
    }

    .nav-link {
        &:hover {
            background-color: rgba(255, 255, 255, .3);
        }

        &:active {
            background-color: transparent;
        }
    }

    .btn,
    .foot .dropdown-item {
        &:hover {
            background-color: var(--color-primary-font);
            color: var(--color-primary);
        }
    }

    .head {
        .logo {
            height: 3.4em;
            margin-right: 2rem;
        }
    }

    .body {
        .nav-link {
            border: 1px solid transparent;
        }

        .dropdown {
            .btn.show {
                background-color: var(--color-primary-font);
                color: var(--color-primary);
            }

            .dropdown-menu {
                .dropdown-item {
                    color: black;
                }
            }
        }
    }

    .foot {
        .dropdown {

            .btn,
            .dropdown-menu {
                border-color: var(--color-primary-font);
                border-style: solid;
            }

            .btn {
                &:active {
                    background-color: rgba(255, 255, 255, .3);
                }

                &.show {
                    &:hover {
                        background-color: var(--color-primary);
                        color: var(--color-primary-font);
                    }
                }
            }

            .dropdown-menu {
                background-color: var(--color-primary);
                min-width: 100%;
                width: 100%;
                border-top-width: 0;
                border-radius: 0 0 $border-radius $border-radius;

                >.dropdown-item {
                    color: var(--color-primary-font);
                }
            }
        }
    }
}

// Footer
.app-footer {
    @include app-common;
    min-height: var(--app-footer-height);

    > .app-container {
        margin: {
            top: 3rem;
        }
    }

    .head,
    .body,
    .foot {
        margin: {
            //top: 3rem;
            bottom: 3rem;
        }
    }

    .head {
        .logo {
            height: 3.4em;
            margin-right: 2rem;
        }

        .title {
            margin-bottom: .2rem;
        }
    }

    .body {
        font-size: 1.22rem;
    }

    .foot {
        @extend .d-flex;
        @extend .justify-content-end;
        @extend .align-items-start;
        @extend .col-lg-3;
        @extend .col-md-2;
        @extend .col-sm-12;
        @extend .order-lg-3;
        @extend .order-sm-2;

        .btn {
            background-color: var(--color-primary-font);
            color: var(--color-primary);
            font-size: 1.25rem;
            min-height: 4.125rem;

            &:hover {
                background-color: transparent;
                color: var(--color-primary-font);
                border-color: var(--color-primary-font);
            }

            &:active {
                background-color: rgba(255, 255, 255, .3);
            }
        }
    }
}

// Jumbotron
.app-jumbotron {
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-center;

    background-color: rgb(236, 236, 236);
    min-height: 300px;
    max-height: 300px;
    /*    display: flex;
        align-items: center;
        justify-content: center;*/
}