@use "sass:math";


// Layout
.layout {
    width: 100%;
    max-width: $layout-width-gap;
    margin-left: auto;
    margin-right: auto;

    @if $layout-gap > 0 {
        padding-left: $layout-gap;
        padding-right: $layout-gap;
        @extend %layout-gap-adaptive;
    }
}

// Grid
.grid {
    display: grid;
}

%grid {
    @extend .grid;
    grid-auto-flow: dense;

    @if $grid-gap > 0 {
        grid-gap: $grid-gap;
        @extend %grid-gap-adaptive;
    }
}

%span {
    width: auto;
    max-width: none;
}

@for $i from 1 through $grid-column {
    .grid-#{$i} {
        grid-template-columns: repeat($i, minmax(0, 1fr));
        @extend %grid;
    }

    .grid-#{$i},
    .span-#{$i} {
        grid-column: span $i;
    }

    .span-#{$i} {
        @extend %span;
    }
}

// Breakpoint
@media only screen and (max-width: $layout-width-gap) {
    %layout-gap-adaptive {
        margin-left: 0;
        margin-right: 0;
        padding-left: $layout-gap-adaptive;
        padding-right: $layout-gap-adaptive;
    }

    %grid-gap-adaptive {
        grid-gap: $grid-gap-adaptive;
    }
}

// Shrink
@for $i from $grid-column to 1 {
    $k: $i - 1;
    $b: math.round($layout-width-gap - ($grid-column - $k) * $grid-step);

    @media only screen and (max-width: $b) {
        .shrink {
            &, > %grid-#{$i}, > %span-#{$i} {
                grid-template-columns: repeat($k, minmax(0, 1fr));
            }

            > %grid-#{$i}, > %span-#{$i} {
                grid-column: span $k;
            }
        }

        @for $j from $i through $grid-column {
            .grid-#{$j} {
                @extend %grid-#{$i};
            }

            .span-#{$j} {
                @extend %span-#{$i};
            }
        }
    }
}

// Tile
.tile {
    display: grid;
    //grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax($grid-step, 1fr));
}

@for $i from 1 through $grid-column {
    .tile-#{$i} {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax($grid-step, 1fr));
        grid-auto-flow: dense;
    }
}
