/*
html {
    font-size: var(--html-font-size);
    line-height: 1;
    //height: 100vh;
}

body {
    //background-color: white;
    //color: var(--color-dark);
    font-size: 1rem;
    line-height: 2rem;
    //min-height: 100vh;
    //margin: 0;
    //overflow-x: hidden;
    //z-index: var(--zindex-body);
}*/
