*,
:before,
:after,
::before,
::after {
    box-sizing: border-box;
    outline:    0 none;
}

html {
    font-size: 1em;
    height:    100vh;
}

body {
    font-size:   .8rem;
    line-height: $grid_cell_height;
    min-height:  100vh;
    margin:      0;
    overflow-x:  hidden;
}

form {
    margin-bottom: 0;
}