*,
:before,
:after,
::before,
::after {
    box-sizing: border-box;
    outline: 0 none;
}

html {
    font-size: 1em;
    height: 100vh;
}

body {
    font-size: 1rem;
    line-height: 1.25rem;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}
