/*.color-primary-bg {
    background-color: var(--color-primary);
}

.color-primary {
    color: var(--color-primary);
}*/

/*.font-size-20 {
    font-size: 1.25rem; // 20px
}*/

/*$font-sizes: (
    tiny: $h1-font-size,
    small: $h2-font-size,
    normal: 1rem,
    4: $h4-font-size,
    5: $h5-font-size,
    6: $h6-font-size
);*/