/*.color-primary-bg {
    background-color: var(--color-primary);
}

.color-primary {
    color: var(--color-primary);
}*/

/*.font-size-20 {
    font-size: 1.25rem; // 20px
}*/

/*$font-sizes: (
    tiny: $h1-font-size,
    small: $h2-font-size,
    normal: 1rem,
    4: $h4-font-size,
    5: $h5-font-size,
    6: $h6-font-size
);*/

/*$app-breakpoint: (
        1: 300px,
        2: 400px,
        3: 500px,
        4: 600px,
        5: 700px,
        6: 800px,
        7: 900px,
        8: 1000px,
        9: 1100px,
        10: $layout-width
    );*/

/*.aaa {
    @each $key, $value in $app-breakpoint {
        &--#{$key} {
            width: $value;
        }
    }
}*/


/*@mixin app-breakpoint() {

}*/

/*%app-breakpoint-max {
    @media only screen {
        @media (max-width: $layout-width) {
        }
    }
}*/

/*@media only screen {
    @media (max-width: $width) {
        #{$s} {
            @each $key, $value in $props {
                $key: $value;
            }
        }
    }
}*/

@mixin app-break($width, $props) {
    %br {
        @media only screen {
            @media (max-width: $width) {
            }
        }
    }
}


$props: (
        grid-column-gap: 3.64vw,
        margin-right: 0,
        margin-left: 0,
        padding-right: 1.82vw,
        padding-left: 1.82vw
);
@include app-breakpoint($layout-width, $props);