//@use "jettix/scss/functions" as func;

// Prefix
$prefix:                 "jx-";

// Path
$fonts:                  "../fonts/";
$media:                  "../media/";

// Root
$root_cell_width:        20px;
$cell_width:             1rem;
$font-size:              16px;

// Grid
$grid_column:            12;
$grid_width:             1200px;
$grid_gap:               40px;

// Layout
$layout_width_min:       360px;

// Z-index
$zindex_app:             100;
$zindex_main:            200;
$zindex_content:         300;
$zindex_sidebar:         400;
$zindex_footer:          500;
$zindex_header:          600;

// Application
$header_height:          5rem; // ~96px
$footer_height:          11rem; // 220px
$main_height:            22rem; // 220px
$border_radius:          0.35rem;

// Fonts
$font_family_sans_serif: Futura;

:root {
    /* Debug */
    --d1: 42;

    /* Theme */
    @include app-theme;
}
