@use "sass:math";
@use "sass:list";

$prefix:           "jx-";

// Path
$fonts:            "../fonts/";
$media:            "../media/";

// Root
$unit:             1rem; // 20px
$px:               .0625rem;
$rate_horizontal:  .8;
$rate_vertical:    .8;

// Grid
$grid_column:      12;
$grid_width:       $unit * 60; // 1200px
$grid_gap:         $unit * 2; // 40px
$grid_col_width:   math.div($grid_width, $grid_column);
$grid_cell_width:  math.div($grid_width - ($grid_column - 1) * $grid_gap, $grid_column);
$grid_cell_height: $unit;

// Layout
$layout_gap:       $unit * 2; // 40px
$layout_gaps:      $layout_gap * 2;
$layout_width:     $grid_width + $layout_gaps;
$layout_width_min: $unit * 18; // 360px
$layout_rate:      math.div(100vw, $layout_width);

// Z-index
$zindex_app:       100;
$zindex_main:      200;
$zindex_content:   300;
$zindex_sidebar:   400;
$zindex_footer:    500;
$zindex_header:    600;

@use "sass:map";
:root {
    /* Debug */
    //--d1: #{map.get($color-primary, dark)};
    --d1: 42;
    //--d2: #{$primary_font};

    /* Theme */
    // @include app-theme;
}
