
// Color system

// color-variables
$blue: #0009e1 !default;
$blue2: #3055d6 !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #ff0000 !default;
$orange: #fd7e14 !default;
$yellow: #ffa900 !default;
$green: #198754 !default;
$teal: #20ff6c !default;
$cyan: #20a1ff !default;

// theme-color-variables
$primary: #f8bb44 !default;
$secondary: #ebebeb !default;
$success: #198754 !default;
$info: $cyan !default;
$warning: #ffd582 !default;
$danger: #ff6464 !default;
$light: #f8f9fa !default;
$dark: #212529 !default;
