// Color system

// Color variables
$blue: #0009e1;
$blue2: #3055d6;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #ff0000;
$orange: #fd7e14;
$yellow: #ffa900;
$green: #198754;
$teal: #20ff6c;
$cyan: #20a1ff;

// Theme color variables
$primary: #f8bb44;
$secondary: #ebebeb;
$success: #198754;
$info: $cyan;
$warning: #ffd582;
$danger: #ff6464;
$light: #f8f9fa;
$dark: #212529;

// Body
$body-bg: #fff;
$body-color: #000;